.links-section{
      text-align: center;
}

.links-section ul{
      list-style: none;
      padding: 0;
}

.links-section li a{
      text-decoration: none;
      text-transform: uppercase;
}

.copyright-section{
      background: #E3E3E3;
}
  