.content{
    margin-top: 140px;
}
.side-nav{
    color: #E3E3E3;
    background: #007BFF;
    width: 0;
    min-height: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden; 
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.side-nav ul{
    list-style: none;
    padding: 20px;
}

.side-nav li{
    display: none;
    padding: 10px 0;
}

.side-nav a{
    text-align: center;
    color: #E3E3E3;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-container{   
    transition: 0.5s;
}

.nav-close-btn{
    display: inline;
    padding: 10px;
}

.search-bar{
    position: relative;
}

.search-bar input{
    width: 100%;
}

.search-bar button{
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    border: none;
}

nav{
    margin: 10px;
}
nav div{
    margin: 4px;
}

nav div button{
    border: none;
}

.nav{
    padding: 10px;
    border-bottom: 1px solid #E3E3E3;
}

.brand-bar{
    color: #E3E3E3;
    background: #007BFF;
    padding: 10px;
    text-align: center;
}

.search-bar{
    position: relative;
}

.search-bar input{
    width: 100%;
}

.search-bar button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
}

