.breadcrumb{
      background: #FFFFFF;
      padding: 0;
}

.product-image{
      padding: 2px;
      margin-bottom: 10px;
      border: 1px solid #E3E3E3;
      text-align: center;
}

.product-image img{
      width: 60%;
      height: 50%;
}

.product-info-section a{
      text-decoration: none;
}

.was-price{
      text-decoration: line-through;
      color: #9E9E9E;
      font-size: 0.7em;
}

.is-price{
      text-decoration: none;
}

.product-info-section h5{
      margin: 0;
      padding: 2px 0 4px 0;
}

.card div{
      margin-bottom: 5px;
}

.card-body{
      padding: 10px;
}

.product-info-section .card-header a p{
      margin: 0;
}

.product-info-section .card-body p{
      margin: 0;
}

.product-info-section .card-body .card-text ul{
      list-style: none;
}

.product-info-section .product-color div{
      width: 25px;
      height: 25px;
      margin: 2px;
      background: #E3E3E3;
}

#F44336{
    background: #F44336;  
}

.size-quantity{
      padding: 0;
}

.size-quantity select{
      width: 15vh;
      margin-right: 2px;
}

.add-to-cart{
      width: 30vh;
}
