body{
      overflow-x: hidden;
}

.filter-side-bar{
      overflow: hidden;
      border: 1px solid #E3E3E3; 
}

.filter-name a{
      display: block;
      width: 100%;
      text-decoration: none;
}

.filter-heading{
      padding: 3px;
      border-bottom: 1px solid #E3E3E3;
      text-align: center;
}

.filter-options ul{

      list-style: none;

}

.filter-options li{
      padding: 2px;
}

.filter-options li input{
      margin: 2px;
}

.product-listing-section{
      border: 1px solid #E3E3E3;
}

.filter-side-bar, .product-listing-section{
      box-shadow: 2px 2px #E3E3E3;
}

.content{
      margin: 10px;
      margin-top: 135px;
}

.filter-side-bar, .product-listing-section{
      box-shadow: 2px 2px #E3E3E3;
}

.product-listing-section{
      padding: 5px;
}

.product-listing-section a{
      text-decoration: none;
}

.product-list-item{
      transition: 0.2s;
}

.product-list-item:hover{
      transform: scale(1.04);
}

.product-list-item{
      padding: 5px;
      border: 1px solid #E3E3E3;
      box-shadow: 2px 2px #E3E3E3;
      margin: 5px;
}

.product-img{
      width: 100%;
}